@media(min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .logo{
        margin: 0;
        margin-bottom: 80px;
    }
    main{
        max-width: 900px;
        border-radius: 15px;
        display: flex;
        gap: 2rem;
        
    }
    section{
        width: 50%;
        /* height: 100%; */
    }

    .result-container{
        margin-bottom: 20px;
    }

    .tip-input .tip-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;

    }

    .result .result-size{
        font-size: 2rem;
    }

    



}