@media(min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .logo{
        margin: 0;
        margin-bottom: 80px;
    }
    main{
        width: 700px;
        border-radius: 15px;
        display: flex;
        gap: 2rem;
        
    }
    section{
        width: 50%;
        
    }



}